<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLYFisoOa62eT9LoGxdtw-_YhyGkRVA-k</string>
	<key>GCM_SENDER_ID</key>
	<string>267440408825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>javier.to-do-list.basic</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-app-c564b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-app-c564b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267440408825:ios:e7706356c22613315efa28</string>
</dict>
</plist>